.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

header {
  margin: 3em 0;
}

header .fix-right {
  position: absolute;
  top: 0;
  right: 1em;
}

.plot-container div,
.plot-container section {
  max-width: 1000px;
}

details {
  font-size: 0.8rem;
  background-color: #aad1f2;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

details summary {
  cursor: pointer;
  user-select: none;
}

details p {
  margin: 1rem 1rem 0.5rem 1rem;
}

dialog {
  user-select: none;
}

dialog button.close {
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

dialog p i {
  margin-right: 0.5em;
}

dialog.error::backdrop {
  background-color: #b2000422;
}

dialog.error p i {
  color: #b20004;
}

dialog.warning::backdrop {
  background-color: #ffa50022;
}

dialog.warning p i {
  color: #ffa500;
}

dialog.info::backdrop {
  background-color: #2a487d22;
}

dialog.info p i {
  color: #2a487d;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}

.plot-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.plot-container .annotation-label {
  font-size: 0.8rem;
}

.plot-container fieldset {
  width: 20em;
  order: -1;
}

.cytoband-name {
  background-color: #dddddd;
  padding: 5px;
  border: 1px solid #999999;
}

.table-container {
  min-width: 35em;
  max-width: 60em;
}

#current-baseline-offset {
  width: 3rem;
  margin-right: 0.5rem;
}

#current-baseline-offset.invalid {
  background-color: #ff6762;
}

svg {
  display: block;
  max-width: 1000px;
}

svg .panel-overlay {
  stroke: forestgreen;
}

svg .segment {
  stroke: #c14702;
}

svg .gridline {
  stroke: #dddddd;
  stroke-width: 0.5px;
  shape-rendering: crispEdges;
}

svg .gridline.baseline {
  stroke: #777777;
  stroke-width: 1.5px;
}

svg .cursor-line {
  stroke: #888888;
}

svg .cursor-label {
  fill: #dddddd;
  stroke: #888888;
  stroke-width: 1px;
}

/* Narrow view */
@media screen and (max-width: 600px) {
  .plot-container .x-label,
  .plot-container .y-label {
    font-size: 1rem;
  }

  .plot-container .x-axis,
  .plot-container .y-axis {
    font-size: 0.9rem;
  }
}

/* Wide view */
@media screen and (min-width: 1600px) {
  .app-container {
    flex-direction: row;
  }

  .plot-container {
    min-width: 48%;
    max-width: 1000px;
  }

  .plot-container .x-label,
  .plot-container .y-label {
    font-size: 1rem;
  }

  .plot-container .x-axis,
  .plot-container .y-axis {
    font-size: 0.9rem;
  }

  .table-container {
    max-width: 60em;
  }

  .chromosome-view {
    order: 1;
  }

  .genome-view {
    order: 2;
  }
}

/* Normal view */
@media screen and (min-width: 1200px) and (width < 1600px) {
  .app-container {
    flex-direction: row;
  }

  .plot-container {
    min-width: 48%;
  }

  .plot-container .x-label,
  .plot-container .y-label {
    font-size: 1.1rem;
  }

  .plot-container .x-axis,
  .plot-container .y-axis {
    font-size: 1rem;
  }

  .table-container {
    max-width: 50em;
  }

  .chromosome-view {
    order: 1;
  }

  .genome-view {
    order: 2;
  }
}

body {
  font-family: helvetica, arial, sans-serif;
}

.data-range-warning {
  color: orange;
}

.copy-number-tooltip {
  display: block;
  position: absolute;
  pointer-events: none;
  background-color: white;
  border: 1px solid black;
  width: 20em;
}

.copy-number-tooltip tbody tr:nth-child(2n) {
  background-color: #f2f7fd;
}

.copy-number-tooltip th:nth-child(1) {
  width: 25%;
}

.copy-number-tooltip th:nth-child(2) {
  width: 50%;
}

.copy-number-tooltip th:nth-child(3) {
  width: 25%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

th,
td {
  padding: 0.6rem 0.5rem 0.1rem 0.5rem;
}

th {
  border-bottom: 1px solid #333;
  text-align: left;
}

#cnv-table th:nth-child(1) {
  width: 5%;
}

#cnv-table th:nth-child(2) {
  width: 10%;
}

#cnv-table th:nth-child(3) {
  width: 15%;
}

#cnv-table th:nth-child(4) {
  width: 15%;
}

#cnv-table th:nth-child(5) {
  width: 15%;
}

#cnv-table th:nth-child(6) {
  width: 10%;
}

#cnv-table th:nth-child(7) {
  width: 10%;
}

#cnv-table th:nth-child(8) {
  width: 10%;
}

#cnv-table th:nth-child(9) {
  width: 5%;
}

thead {
  background-color: #ddd;
  border-bottom: 1px solid #333;
}

tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #add9ff;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.view-region-link {
  cursor: pointer;
}

.panel-overlay {
  stroke-width: 0;
}

.panel-overlay.selected {
  stroke-width: 6;
}

.hidden {
  display: none !important;
}

/* Print layout */
@media print {
  header {
    margin: 0;
  }

  .plot-container,
  .app-container {
    display: block;
  }

  .no-print {
    display: none;
  }

  .plot-section {
    break-inside: avoid;
  }

  .table-container {
    break-before: page;
  }
}
