$schema: "http://json-schema.org/draft-04/schema#"
description: snakemake configuration file
type: object
properties:
  samples:
    type: string
    description: Path to samples.tsv file
  units:
    type: string
    description: Path to units.tsv file
  resources:
    type: string
    description: Path to resources.yaml file
  trimmer_software:
    type: string
  alignment_software:
    type: string
  default_container:
    type: string
    description: name or path to a default docker/singularity container

  required:
    - samples
    - units
    - resources
    - default_container
