filters:
  artifacts:
    description: "Hard filter variants found in more than 15% of the samples in database that are less than 10 million bases"
    expression: "(INFO:Twist_AF > 0.15 and INFO:SVLEN < 10000000)"
    soft_filter: "False"
  copy_number:
    description: "Hard filter cnvs with over 1.4 copies if the BAF is close to 0.5 as well as all amplifications"
    expression: "(INFO:CORR_CN > 1.4 and INFO:BAF > 0.3 and INFO:BAF < 0.7) or (INFO:CORR_CN > 2.5)"
    soft_filter: "False"
  loh_gene:
    description: "Only keep variants with gene annotations"
    expression: "(!exist[[A-Za-z0-9_,-]+, INFO:Genes])"
    soft_filter: "False"
