filters:
  intron:
    description: "Hard filter intronic variants"
    expression: "(exist[intron_variant, VEP:Consequence] and !exist[splice, VEP:Consequence] and VEP:SYMBOL != MET and VEP:SYMBOL != TERT and !exist[COSV[0-9]+, VEP:Existing_variation])"
    soft_filter: "False"
  artifacts:
    description: "Hard filter variants found in more than 3 normal samples"
    expression: "((INFO:Artifact:0 > 2 and INFO:ArtifactNrSD:0 < 10) or (INFO:Artifact:0 > 2 and INFO:ArtifactNrSD:1 < 10))"
    soft_filter: "False"
  germline:
    description: "Hard filter germline"
    expression: "(VEP:gnomAD_AF > 0.005)"
    soft_filter: "False"
  af_snv:
    description: "Hard filter SNV variants with low vaf"
    expression: "((FORMAT:AF:0 < 0.006 or FORMAT:AF:0 > 0.994) and exist[SNV, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  ad_snv:
    description: "Hard filter SNV variants with low ad"
    expression: "((FORMAT:AD:1 < 15 or FORMAT:AD:0 < 15) and exist[SNV, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  af_insertion:
    description: "Hard filter Insertion variants with low vaf"
    expression: "((FORMAT:AF:0 < 0.006 or FORMAT:AF:0 > 0.994) and exist[insertion, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  ad_insertion:
    description: "Hard filter Insertion variants with low ad"
    expression: "((FORMAT:AD:1 < 15 or FORMAT:AD:0 < 15) and exist[insertion, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  af_deletion:
    description: "Hard filter Deletion variants with low vaf"
    expression: "((FORMAT:AF:0 < 0.009 or FORMAT:AF:0 > 0.991) and exist[deletion, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  ad_deletion:
    description: "Hard filter Deletion variants with low ad"
    expression: "((FORMAT:AD:1 < 20 or FORMAT:AD:0 < 20) and exist[deletion, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  af_complex:
    description: "Hard filter complex variants with low vaf"
    expression: "((FORMAT:AF:0 < 0.009 or FORMAT:AF:0 > 0.991) and exist[indel, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  ad_complex:
    description: "Hard filter complex variants with low ad"
    expression: "((FORMAT:AD:1 < 20 or FORMAT:AD:0 < 20) and exist[indel, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  af_substitution:
    description: "Hard filter substitution variants with low vaf"
    expression: "((FORMAT:AF:0 < 0.006 or FORMAT:AF:0 > 0.994) and exist[substitution, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  ad_substitution:
    description: "Hard filter substitution variants with low ad"
    expression: "((FORMAT:AD:1 < 15 or FORMAT:AD:0 < 15) and exist[substitution, VEP:VARIANT_CLASS])"
    soft_filter: "False"
  ald:
    description: "Hard filter variants with skewed distribution between strands"
    expression: "(FORMAT:ALD:0 < 3 or FORMAT:ALD:1 < 3)"
    soft_filter: "False"
  sbf:
    description: "Hard filter variants with skewed distribution between strands"
    expression: "INFO:SBF < 0.01"
    soft_filter: "False"
  pmean:
    description: "Hard filter variants found only in start of reads"
    expression: "INFO:PMEAN < 15.0"
    soft_filter: "False"
  callers:
    description: "Hard filter variants only called by mutect2"
    expression: "INFO:CALLERS:0 = gatk_mutect2"
    soft_filter: "False"
  qual:
    description: "Hard filter variants with low calling quality"
    expression: "INFO:QUAL:0 < 43.0"
    soft_filter: "False"
